*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    Width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                        "menu contenido";
    transition: all .3s ease;
}

.contenedor .active {
    grid-template-columns: 300px auto;
}

/* Header */

.header {
    grid-area: header;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos";
}

.contenedor-logo {
    grid-area: logo;
    display:flex;
    align-items: center;

}

.contenedor-logo .boton-menu {
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.barra-busqueda {
    grid-area: busqueda;
}

.botones-header{
    grid-area: iconos;
}

/* Menu lateral */


.menu-lateral {
    grid-area: menu;
    background: #ccc;
}

main {
    grid-area: contenido;
    background: #414141;
}